<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xzx.project.dao.ReturnOrderDetailMapper" >
  <resultMap id="BaseResultMap" type="xzx.project.entity.ReturnOrderDetail" >
    <id column="rod_id" property="rodId" jdbcType="VARCHAR" />
    <result column="goods_id" property="goodsId" jdbcType="VARCHAR" />
    <result column="goods_unit" property="goodsUnit" jdbcType="VARCHAR" />
    <result column="goods_name" property="goodsName" jdbcType="VARCHAR" />
    <result column="goods_type" property="goodsType" jdbcType="VARCHAR" />
    <result column="goods_color" property="goodsColor" jdbcType="VARCHAR" />
    <result column="rod_amount" property="rodAmount" jdbcType="INTEGER" />
    <result column="rod_return_price" property="rodReturnPrice" jdbcType="DECIMAL" />
    <result column="rod_total_price" property="rodTotalPrice" jdbcType="DECIMAL" />
    <result column="ro_id" property="roId" jdbcType="VARCHAR" />
    <result column="rod_imei_list" property="rodImeiList" jdbcType="LONGVARCHAR" />
  </resultMap>
  <!-- 新增 -->
  <insert id="insert" parameterType="xzx.project.entity.ReturnOrderDetail" >
    insert into return_order_detail (rod_id, goods_id, goods_unit, 
      goods_name, goods_type, goods_color, 
      rod_amount, rod_return_price, rod_total_price, 
      ro_id, rod_imei_list)
    values (#{rodId,jdbcType=VARCHAR}, #{goodsId,jdbcType=VARCHAR}, #{goodsUnit,jdbcType=VARCHAR}, 
      #{goodsName,jdbcType=VARCHAR}, #{goodsType,jdbcType=VARCHAR}, #{goodsColor,jdbcType=VARCHAR}, 
      #{rodAmount,jdbcType=INTEGER}, #{rodReturnPrice,jdbcType=DECIMAL}, #{rodTotalPrice,jdbcType=DECIMAL}, 
      #{roId,jdbcType=VARCHAR}, #{rodImeiList,jdbcType=LONGVARCHAR})
  </insert>
 
</mapper>